---
const { imgimage = "", imagealt = "", email = "", subtitle, title, text, mailtext } = Astro.props
import Secondarybutton from "./Secondarybutton.astro";
---

<article id="sektion2" class="bg-accent-500">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <!-- Venstre side med billede -->
      <div class="flex items-center justify-center">
        <div class="relative w-full h-auto md:w-[525px] md:h-[520px]">
          <!-- Billede (Skjules på mobil, vises på større skærme) -->
          <img src={imgimage} alt={imagealt} class="hidden md:block absolute w-full h-auto md:h-full md:-ml-[6.2rem]">
        </div>
      </div>
      
      <!-- Højre side med tekst -->
      <div class="p-xl md:p-xxs lg:p-xl md:-ml-[5%] lg:-ml-[12rem]">
        <!-- Bruger h3 typografier til mobil, tablet og desktop -->
        <h5 class="text-h4-mobile md:text-h5-tablet lg:text-h5-desktop text-primary-400 mb-2">
          {subtitle}
        </h5>
        <h3 class="text-h1-mobile md:text-h3-tablet lg:text-h3-desktop text-primary-400 mb-4">
          {title}
        </h3>
        
        <!-- Bruger body typografier til mobil, tablet og desktop -->
        <p class="font-serif text-body-md md:text-body-md-tablet lg:text-body-md-desktop text-primary-400 pt-sm mb-4 md:mb-6 lg:mb-xxs lg:mr-xl">
          {text}
        </p>
         
        <div class="mb-xs">
          <!-- Dynamisk placeholder og type værdier -->
          <input type={email} placeholder={mailtext} 
          class="mt-xs w-full lg:w-[47rem] rounded-sm bg-neutral-300 p-3 border border-primary-500 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent">
        </div>

        <div class="flex flex-col md:flex-row gap-4">
          <Secondarybutton variant="primary" size="medium" width="large" className="sm:size-small md:size-medium lg:size-large">Tilmeld</Secondarybutton>
        </div>
      </div>
    </div>
</article>


  
