---
const { imgimage = "", imagealt = "", subtitle, title, text } = Astro.props
---

<article id="sektion2" class="bg-accent-500">
    <div class="flex flex:col sm:flex-row">
        <div class="">
          <img src={imgimage} alt={imagealt} class="hidden md:block w-full h-auto md:h-full md:-ml-[6.5rem] md:top-0">
        </div>
    
        <div class="">
        
          <h5 class=" text-primary-400">
            {subtitle}
          </h5>
          <h3 class="text-primary-400">
            {title}
          </h3>
          

          <p class="font-serif text-body-md md:text-body-md-tablet lg:text-body-md-desktop text-primary-400">
            {text}
          </p>
        </div>
    </div>
</article>


  
