--- 
const { title, price, description, alt, beer_image} = Astro.props
import Organicbutton from "./Organicbutton.astro"
---


      <!-- Beer images section -->

            
      
  
      <!-- Text content section -->
    
            <div class="">
            <h3 class="text-primary-500">{title}</h3>
            <h5 class="text-primary-400">{price}</h5>
            </div>
            <h5 class="md:text-body-md-desktop lg:text-body-md-desktop font-regular">{description}</h5>
            <img  src={beer_image} alt={alt} class="" />
           

            <!--  <Organicbutton text="TILMELD DIG" size="medium" variant="primary" />
            <Organicbutton text="LÆR MERE" size="large" variant="secondary" /> -->
    
     
 
