---
import Secondarybutton from "./Secondarybutton.astro";

const { url = "", cardimage = "", cardimagealt = "", procuktnavn = "", kortbeskrivelse = "", pris = "" } = Astro.props;
---

<article class="card @container">
  <a href={url} class="flex flex-col justify-between">
    <header class="daseholdheader relative w-full h-auto">
      <div class="relative">
        <div class="absolute inset-0 w-full z-10"></div>
        <img src={cardimage} alt={cardimagealt} class="w-full object-cover h-auto bg-accent-500 z-10" />
      </div>
    </header>
    <section class="bg-primary-700 w-full grow px-2 flex flex-col h-auto">
      <div class="flex flex-col grow text-neutral-100">
        <div class="flex justify-between items-center px-xs pt-xs">
          <h4 class="text-h4-mobile">{procuktnavn}</h4>
          <img src="/shoppingcart.svg" alt="shoppingcart ikon" class="w-ml" />
        </div>
        <div class="flex px-xs pt-xxs">
          <div class="border-b-2 border-neutral-100 flex w-full items-center gap-xxs">
            <img src="/beer-ikon.svg" alt="beer ikon" class="w-md py-xxs" />
            <p class="text-body-md">{kortbeskrivelse}</p>
          </div>
        </div>
      </div>
      <div class="grow flex flex-wrap gap-xs px-xs py-xs md:py-md items-baseline justify-between text-accent-500">
        <h4 class="text-h4-mobile">{pris}</h4>
        <Secondarybutton variant="primary" size="small" width="base" link="/singleview">Se mere</Secondarybutton>
      </div>
    </section>
  </a>
</article>
